<div class="corps">

    <h1>Modifier un Rendez-vous</h1>
      <%= simple_form_for [:admin,@meet] do |f| %>

        <%= f.input :first_name%>
        <%= f.input :last_name%>
        <%= f.input :date%>
        <%= f.button :submit, "Modifier cette séance", class: "btn btn-danger mt-4 mb-3 w-30 text-center", id: "cancel" %>

      <% end %>

</div>
