
<div class="corps">

  <div class="text-center">
    <h1>Mon rendez-vous du</h1>
  </div>


      <div class="button">
          <h2>
            <% if current_user.first_name == @meet.user.first_name && current_user.last_name == @meet.user.last_name %>
              <%= @meet.first_name %> <%= @meet.last_name %>
            <% else %>
              <%= @meet.user.first_name %> <%= @meet.user.last_name %>
            <% end %>
          </h2>
          <h3><%= @meet.date %></h3>
        <div class= "d-flex">
          <%= link_to "Annuler", admin_meet_path(@meet.id), method: :delete, class: "btn
          btn-danger ml-5 mr-5 w-40", id: "cancel", data: { confirm: 'Souhaitez vous vraiment annuler?' } %>
          <%= link_to "Modifier", edit_admin_meet_path(@meet.id), class: "btn
          btn-primary ml-5 mr-5 w-40", id: "take", data: { confirm: 'Souhaitez vous vraiment modifier?' } %>
        </div>
    </div>

</div>
